# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files - Commented out fo GoLang
# *.mod
# *.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# ESP-IDF
sdkconfig
sdkconfig.old
build/

# Go
server/bin/
server/coverage.out
server/data/

# SQLite DB
access_module.tar.gz
